
<div class="container py-5">
      <!-- Countdown 4-->
      <div class="rounded bg-gradient-2 text-white shadow p-5 text-center mb-5">
        <div> 
          <input [value]= "orgt"(input) = "orgt = $event.target.value">     
          <div id="clock-c" class="countdown py-4">{{displayTime}}</div>
        </div>

          <!-- Call to actions -->
          <ul class="list-inline">
              <li class="list-inline-item pt-2">
                  <button (click)='startTimer()' id="btn-reset" type="button" class="btn btn-demo"><i class="glyphicon glyphicon-repeat"></i>Start</button>
              </li>
              <li class="list-inline-item pt-2">
                  <button (click)='pauseTimer(timeLeft)' id="btn-pause" type="button" class="btn btn-demo"><i class="glyphicon glyphicon-repeat"></i>Stop</button>
              </li>
              <li class="list-inline-item pt-2">
                  <button (click)='resetTimer()' id="btn-resume" type="button" class="btn btn-demo"><i class="glyphicon glyphicon-repeat"></i>Reset</button>
              </li>
          </ul>
      </div>
</div>